<div class="card-container-index">
  <div class="event-info-box">
    <div id="event-hour-box">
      <%= event.start_time.strftime('%H:%M') %>
    </div>
    <div class= "<%= event.category.downcase %>">
      <div id="event-info-box-aesthetic-background">
      </div>
      <div id="event-subcategory-box" >
        <%= event.subcategory.capitalize %>
      </div>
    </div>
  </div>

  <% if event.photouploaded %>
    <% event_image = cl_image_path event.photouploaded.path %>
  <% elsif event.photo %>
    <% event_image = image_path event.photo %>
  <% else %>
    <% event_image = image_path "event-placeholder-photo-banner.jpg" %>
  <% end %>

  <div class="card-wrapper-index">
    <div class="card-index" style="background-image: url('<%= event_image %>')" >

      <div class="card-description-index">
        <h2><%= event.name %></h2>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true" ></i>
          <span><%= event.street_address %> <%= event.zip_code %> <%= event.city %>, <%= event.country %></span>
        </p>
      </div>
    <%= link_to '', event_path(event), class: "card-link-index" %>
  </div>

    <div class="card-footer-index">
      <p>
      <%= pluralize((event.swipe.where(interested: true).count), 'person') %> interested
      </p>
    </div>
  </div>
</div>
