<div class="card-container-index">
  <div class="event-info-box">
    <div id="event-hour-box">
      <%= event.start_time.strftime('%H:%M') %>
    </div>
    <div class= "<%= event.category.downcase %>">
      <div id="event-info-box-aesthetic-background">
      </div>
      <div id="event-subcategory-box" >
        <%= event.subcategory.capitalize.gsub(/_/," ")  %>
      </div>
    </div>
  </div>

  <% if event.photouploaded %>
    <% event_image = cl_image_path event.photouploaded.path, gravity: :south %>
  <% elsif event.photo %>
    <% event_image = image_path event.photo %>
  <% else %>
    <% event_image = image_path "event-placeholder-photo-banner.jpg" %>
  <% end %>

  <div class="card-wrapper-index">
    <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= event_image %>')" >

      <div class="card-description-index">
        <h2><%= event.name %></h2>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true" ></i>
          <span><%= event.street_address %> <%= event.zip_code %> <%= event.city %>, <%= event.country %></span>
        </p>
      </div>
    <%= link_to '', event_path(event), class: "card-link-index" %>
  </div>

    <div class="card-footer-index">
      <p>
      <%= pluralize((event.swipe.where(interested: true).count), 'person') %> interested
      </p>
      <%=link_to "https://www.facebook.com/sharer/sharer.php?u=https://fyne.herokuapp.com/", target: :_blank do %>
        <i class="fa fa-share share-fb-index" aria-hidden="true"></i>
      <% end %>
       <% if (event.url != nil) & (event.url != "") %>
        <div>
          <%=link_to "#{event.url}", target: :_blank do %>
            <i class="fa fa-bolt book-btn-index" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
