<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "active", fyne_color: "inactive" %>

<div class="container-fyne">

  <div class="text-center">
      <%= link_to new_event_path, class: "btn btn-primary btn-fyne", id: "btn-create-new-event" do %>
        <i class="fa fa-plus-square" aria-hidden="true" ></i>
        <span>Create an event</span>
      <% end %>
  </div>
</div>

<hr id="large-line">

<div class="tabs tabs-fyne">
  <a href="#" class="tab active" data-target="all">
    All
  </a>
  <a href="#" class="tab" data-target="today">
    Today
  </a>
  <a href="#" class="tab" data-target="tomorrow">
    Tomorrow
  </a>
  <a href="#" class="tab" data-target="this_weekend">
    This weekend
  </a>
</div>


<div class="tab-content" id="all">
  <div class="container-fyne">
    <div class="cards-container-index">
      <% @group_of_events.where(user: current_user).order(start_time: :asc).group_by { |e| e.start_time.strftime('%A %dth, %b %Y') }.each do |date, events| %>
        <% if date.to_date >= Date.today %>
          <h2>
            <%= date %>
          </h2>
          <% events.each do |event| %>
            <%= render 'shared/cards', event: event%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="tab-content hidden" id="today">
  <div class="container-fyne">
    <div class="cards-container-index">
      <% @group_of_events.where(user: current_user).order(start_time: :asc).group_by { |e| e.start_time.strftime('%A %dth, %b %Y') }.each do |date, events| %>
        <% if date == DateTime.now.strftime('%A %dth, %b %Y') %>
          <h2>
            <%= date %>
          </h2>
        <% end %>
        <% events.each do |event| %>
          <% if (event.start_time.to_date == Date.today) %>
            <%= render 'shared/cards', event: event%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="tab-content hidden" id="tomorrow">
  <div class="container-fyne">
    <div class="cards-container-index">
      <% @group_of_events.where(user: current_user).order(start_time: :asc).group_by { |e| e.start_time.strftime('%A %dth, %b %Y') }.each do |date, events| %>
        <% if date == DateTime.tomorrow.strftime('%A %dth, %b %Y') %>
          <h2>
            <%= date %>
          </h2>
        <% end %>
        <% events.each do |event| %>
          <% if (event.start_time.to_date == Date.tomorrow) %>
            <%= render 'shared/cards', event: event%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="tab-content hidden" id="this_weekend">
  <div class="container-fyne">
    <div class="cards-container-index">
      <% @group_of_events.where(user: current_user).order(start_time: :asc).group_by { |e| e.start_time.strftime('%A %dth, %b %Y') }.each do |date, events| %>
        <% if (date == ( DateTime.now.end_of_week.strftime('%A %dth, %b %Y') || DateTime.now.end_of_week.yesterday.strftime('%A %dth, %b %Y')))  %>
          <h2>
            <%= date %>
          </h2>
        <% end %>
        <% events.each do |event| %>
          <% if (event.start_time.strftime('%A %dth, %b %Y') == ( DateTime.now.end_of_week.strftime('%A %dth, %b %Y') || DateTime.now.end_of_week.yesterday.strftime('%A %dth, %b %Y') )) %>
            <%= render 'shared/cards', event: event%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
const tabs = document.querySelectorAll('.tab')
const tabContents = document.querySelectorAll('.tab-content')


tabs.forEach((tab) => {
  tab.addEventListener('click', (event) => {
    event.preventDefault();
    let target = event.currentTarget.dataset.target
    clearTabContents()
    document.getElementById(target).classList.remove('hidden')
  clearTabs()
  tab.classList.add('active')
  })
})


function clearTabContents() {
  tabContents.forEach((tabContent) => {
    tabContent.classList.add('hidden')
  })
}

function clearTabs() {
  tabs.forEach((tab) => {
    tab.classList.remove('active')
  })
}

  <% end %>
<% end %>


<!--         <%#= event.start_time [

  {.strftime('%b %dth %Y')
    11-10-2016: [
  Event,
  Event,
    ]
  },

  {
    11-10-2016: [
  Event,
  Event,
    ]
  },

  {
    11-10-2016: [
  Event,
  Event,
    ]
  },
  {
    11-10-2016: [
  Event,
  Event,
    ]
  }
]
 -->
