<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "active", fyne_color: "inactive" %>



<div class="event-photo-container overflow-hidden">

  <% if @event.photouploaded %>
    <%= cl_image_tag @event.photouploaded.path, class: "event-photo" %>
  <% elsif @event.photo %>
      <%= image_tag @event.photo, class: "event-photo" %>
  <% else %>
    <%= image_tag "event-placeholder-photo.jpg", class: "event-photo"  %>
 <% end %>


</div>


<%= render 'shared/event_infos' %>

<% if @event.user == current_user %>
  <div class="text-center">
    <%= link_to "Delete my event", event_path(@event), method: :delete, class: "btn btn-danger btn-event-show btn-fyne" %>
    <%= link_to "Edit my event", edit_event_path(@event), class: "btn btn-primary   btn-fyne" %>
  </div>
<% end %>
