<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "inactive", fyne_color: "active" %>

<% if @event != nil %>
  <div class="container-new">
    <div class="row row-card">
      <div class="col-xs-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @event.photo %>');">
          <div class="card-description">
            <h2><%= @event.name %></h2>
            <p><%= @event.subcategory %></p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="row row-controls">
      <div class="col-xs-12">
        <div class="controls">
          <div class="control-btn btn-dislike">
            <%= link_to swipes_path(swipe: {event_id: @event.id, user_id: current_user.id, interested: false}), method: :post do %>
              <i class="fa fa-times fa-3x button dislike" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="control-btn btn-like">
            <%= link_to swipes_path(swipe: {event_id: @event.id, user_id: current_user.id, interested: true}), method: :post do %>
                <i class="fa fa-heart fa-3x button like" aria-hidden="true"></i>
              <%#= image_tag "like.png", {class: "img-circle button"}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- if all the events have already been swiped by the current_user : -->

<% else %>
  <div class="container-new">
    <div class="row">
      <div class="walter text-center">
        <h1>Introducing Walter</h1>
        <p>The #1 event finder in the world</p>
        <%= render 'shared/walter' %>
       </div>
    </div>
  </div>
<% end %>


