<%= render 'shared/navbar', profile_color: "active", calendar_color: "inactive", fyne_color: "inactive" %>
<% content_for(:title_profile) do %>
  <%= @user.first_name %> <%= @user.last_name %>
<% end %>

<div class="container">
  <div class="row user-img-name">
    <div class="user-img">
      <% if @user.photo? %>
        <%= cl_image_tag( @user.photo.path, :width=>50, :height=>50, :gravity=>"face", :crop=>"thumb", class: "avatar-profile")  %>
      <% else %>
        <%= image_tag 'avatar.jpg', class: "avatar-profile" %>
      <% end %>
    </div>
    <h1 class="user-name"><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div class="row user-info">
    <p>City: <%= @user.city %></p>
    <p>Percentage of swipes liked: <%= @percentage_liked.round %>%</p>
  </div>
  <div class="row buttons btn-group-fyne ">
    <%= link_to "Update profile", edit_user_registration_path, class: "btn btn-fyne btn-primary" %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-fyne btn-danger" %>
  </div>
</div>

